* {
    font-size: 20px;
    font-family: monospace;
    min-height: 0;
}

window#waybar {
    background: #292b2e;
    color: #fdf6e3;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#temperature.1,
#temperature.2,
#tray {
    background: #1a1a1a;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
#language {
    background: #1a1a1a;
}

#workspaces {
    background: #292b2e;
    transition: none;
    margin-left: 20px;
}
#workspaces button {
    background: #1a1a1a;
    color: @content_inactive;
    transition: none;
    padding: 5px 20px;
    margin: 0 1px;
}
#workspaces button.active {
    color: #1a1a1a;
    background: white;
    transition: none;
}
#workspaces button.focused {
    color: @bg_active;
    transition: none;
}
#workspaces button.urgent {
	background:  rgba(255, 200, 0, 0.35);
	border-bottom: 3px dashed @warning_color;
	color: @warning_color;
    transition: none;
}
#workspaces button:hover {
    background: rgba(100, 200, 0, 0.35);
    color: @content_main;
    transition: none;
}

#pulseaudio {
    color: #268bd2;
}
#pulseaudio.muted {
    color: #be2528;
    font-weight: bold;
}
#memory {
    color: #2aa198;
}
#cpu {
    color: #6c71c4;
    min-width: 120px;
}
#battery {
    color: #859900;
}
#disk {
    color: #b58900;
}
#temperature.1 {
    color: #3ffc81;
}
#temperature.2 {
    color: #982daf;
}

#clock.1 {
    padding: 0 40px;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#language,
#tray,
#battery,
#temperature,
#disk {
    padding: 0 20px;
    margin: 0 5px;
}
